.nav {
    background-color: brown; 
    list-style-type: none;
    text-align: right;
    margin: 0;
    padding: 0;
    text-decoration: white;
    


}

.nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
}
li a
{
text-decoration: none;
color: white;

}
.s{
color:red;
padding: 10px;
margin: 2em;
width: 2em;


}
}


}